# Bestand voor de encoding van verschillende bestanden te configureren


# line endings
* text eol=lf

# git's files 
.gitattributes zos-working-tree-encoding=iso8859-1
.gitignore zos-working-tree-encoding=iso8859-1

# file encodings
*.txt zos-working-tree-encoding=ibm-1047 
*.groovy zos-working-tree-encoding=ibm-1047 
*.properties zos-working-tree-encoding=ibm-1047
*.asm zos-working-tree-encoding=ibm-1047
*.md zos-working-tree-encoding=ibm-1047
*.log zos-working-tree-encoding=ibm-1047
*.html zos-working-tree-encoding=ibm-1047
*.json zos-working-tree-encoding=ibm-1047
*.jcl zos-working-tree-encoding=ibm-1047
*.pli zos-working-tree-encoding=ibm-1047
*.java zos-working-tree-encoding=ibm-1047
